sample/examples/example-1.json
[{"id":"535bfd4c.cbd2e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aa88544c.0a6de8","type":"modbus-tcp-ip","z":"535bfd4c.cbd2e4","name":"Modbus-TCP Flexi Getter","ip":"10.188.14.215","port":26,"x":410,"y":200,"wires":[["6110c79.9718d38"]]},{"id":"8aba7522.24ff28","type":"inject","z":"535bfd4c.cbd2e4","name":"","topic":"","payload":"{\"unitid\":1,\"address\":3000,\"functioncode\":3,\"quantity\":4}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[["aa88544c.0a6de8"]]},{"id":"6110c79.9718d38","type":"debug","z":"535bfd4c.cbd2e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"responseBuffer.buffer","targetType":"msg","x":700,"y":200,"wires":[]}]